html 
    head
        style 
            include ../public/styles/homeStyles.css  
            include ../public/styles/pageStyles.css 
          
          
            
        title Movies
    body 

        include navbar  
        

        div.Content 

            div.info 
                h4 #{mData.title} 
                p Runtime: #{mData.Runtime}  

                p Genre:
                each val in mData.Genre.gen  
                    a(href='/movies') #{val}   
                    br

            
            div.smlMovies 
                p Similar Movies:   
                each val in mData.similarMovies   
                    ul  
                        a(href='/movies/'+val.id) #{val.title} 
                    
            div.Dir
                P Director:  
                    a(href='/people/'+mData.Director) #{mData.Director} 
            
            div.Writ
                p Writers: 
                each val in mData.Writer.writersArr  
                    ul
                        a(href='/people/'+val) #{val} 

            div.Rev
                p Reviews: 
                each val in mData.Reviews.reviewsArr 
                    ul= val 

                p Add A review:  
                p Review Score 
                input#score(type="text" placeholder="") 
                p Review Text: 
                input#rText(type="text" placeholder="")
                p Review Summary: 
                input#rSummary(type="text" placeholder="")   
                button#submitB(type=button) submit 