html 
    head
        style 
            include ../public/styles/homeStyles.css            
          
            
        title Movies
    body 

        include navbar  
        

        div.Content 

            div.info 
                h4 #{mData.title} 
                p Runtime: #{mData.Runtime}  

                p Genre:
                each val in mData.genre
                    a(href='/movies') #{val}   
                    br

            div.Dir
                P Director:   
                    each val in directors  
                        ul
                            a(href='/people/'+val._id) #{val.name} 
            
            div.Writ
                p Writers: 
                each val in writers
                    ul
                        a(href='/people/'+val._id) #{val.name} 

            div.Act 
                p Actors: 
                each val in actors  
                    ul 
                        a(href= '/people/'+val._id) #{val.name} 
            
            div.simillarMovies 
                p Simillar Movies 
                each val in similarMovies 
                    ul 
                        a(href='/movies/'+val._id) #{val.title}

            //div.Rev
                p Reviews: 
                each val in mData.Reviews 
                    ul= val 


                p Add A review:  
                p Review Score 
                input#score(type="text" placeholder="") 
                p Review Text: 
                input#rText(type="text" placeholder="")
                p Review Summary: 
                input#rSummary(type="text" placeholder="")   
                button#submitB(type=button) submit 