html
    head
         
        title people    
        style
            include ../public/styles/homeStyles.css 
        
    body 

        include navbar  
        
        div.people    
        
            p #{person.name} 
            if !following
                button(id="follow") Follow
            else 
                button(id="unfollow") Unfollow
            if written.length > 0
                div.Wri

                    p Writer: 
                        each val in written
                                
                            ul
                                a(href='/movies/'+val*_id) #{val.title}  
            if directed.length > 0
                div.Dir
                    p Director: 
                        each val in directed
                            ul
                                a(href='/movies/'+val._id) #{val.title}     
            if acted.length > 0
                div.Act
                    p Actor: 
                        each val in acted
                            ul
                                a(href='/movies/'+val._id) #{val.title}
            if freqCollab.length > 0
                div.freqCollab
                    p Frequent Collaborators: 
                        each collab in freqCollab
                            ul
                                a(href='/people/'+collab._id) #{collab.name}


    script(src="/js/person.js") 