html 
    head 
        style
            include ../public/styles/homeStyles.css   
            include ../public/styles/pageStyles.css
            
        title Profile  
        
    body
        include navbar   
        div#main 

            div.profile

                div.AccountType 
                    h2 Account Type   
                    if user.contributingAccount
                        button(type="button" id="toggle") Regular  
                    else 
                        button(type="button" id="toggle") Contributor  

                div.PplFll
                    p1 People You Follow 
                        ul 
                            each person in people
                                ul
                                    a(href='/people/'+val id=val) #{val} 
                                    button(type="button",id=val,onclick='removeFunc()') UNFOLLOW  
                                            
                        
                div.UserFll
                    p1 Users You Follow   
                        ul 
                            each user in users
                                ul 
                                    a(href='/users/'+val id=val) #{val} 
                                    button(type="button",id=val,onclick='removeFunc()') UNFOLLOW  
                                    
                div.MovieWatch
                    p1 Movies You Watched  
                        ul 
                            each movie in watchedMovies
                                a(href='/movies/'+val id=val) #{val} 
                                ul= val

                div.RecMovies
                    p1 Recomended Movies 
                        ul 
                            each movie in recMovies 
                                ul= val  

                div.Noti   
                    p1 Notfication 
                        ul 
                            each notification in user.userNotifications 
                                ul= val
    script(src="/js/profile.js") 
