html 
    head 
        style
            include ../public/styles/homeStyles.css   
            include ../public/styles/profile.css
            
        title Profile  
        
    body
        include navbar   
        div#main 

            div.profile

                div.AccountType 
                    h1 #{user.username}   
                    if user.contributingAccount
                        button(type="button" id="toggle") Regular  
                    else 
                        button(type="button" id="toggle") Contributor  
                br

                div.grid
                
                    div.section   
                        h3(style="display: inline;") Notifications 
                        button(type="button" id="clear") Clear
                        ul 
                            each notification in user.userNotifications 
                                li notification 
                    div.info
                        div.section
                            h3 People You Follow 
                                ul 
                                    each person in people
                                        li
                                            a(href='/people/'+ person._id) #{person.name} 
                            br
                                                    
                                
                        div.section
                            h3 Users You Follow   
                                ul 
                                    each user in users
                                        li 
                                            a(href='/users/'+ user._id) #{user.username} 
                            br
                                            
                        div.section
                            h3 Movies You Watched  
                                ul 
                                    each movie in watchedMovies
                                        li
                                            a(href='/movies/'+movie._id) #{movie.title} 
                            br

                        div.section
                            h3 Recommended Movies 
                                ul 
                                    each movie in recMovies 
                                        li
                                            a(href='/movies/'+movie._id) #{movie.title}                             
                            br

    script(src="/js/profile.js") 
