html
    head
         
        title User  
    style 
        include ../public/styles/homeStyles.css 

    script(src="../static/profile.js")  
        
        
    body 

        include navbar  
        
        div.User     


            div.UserName 
                p Username: #{user.username}
                button(id="follow") Follow

            div.EmptyBox 
                
            div.people
                p Following People: 
                    each val in people      
                        ul
                            a(href='/people/'+val) #{val} 
                            button(type="button",id=val) FOLLOW                 
            div.WatchMovies
                p Watched Movies: 
                    each val in watchedMovies 
                        ul 
                            a(href='/movies/'+val.id) #{val.title}         
            div.Reviews
                p Reviews: 
                    each val in user.userReviews 
                        h #{val.rating + " " + val.reviewSummary + " " + val.reviewText}  
                
            
            



        