html
    head
         
        title User  
        
        script(src="../static/profile.js")  
        
        
    body 

        //include navbar  
        
        div.User    
        
            p User Name #{user.username}

            p Following People: 
                each val in user.followingPeople.followingPpl      
                    ul
                        a(href='/people/'+val) #{val} 
                        button(type="button",id=val) FOLLOW    
            p Following Users: 
                each val in user.followingUsers.followingUser  
                    ul 
                        a(href='/user/'+val) #{val} 
                        button(type="button",id=val) FOLLOW   
            p Followers: 
                each val in user.followers.followers 
                    ul   
                        a(href='/user/'+val) #{val} 
                        button(type="button",id=val) FOLLOW    
            
            p Watched Movies: 
                each val in user.watchList 
                    ul 
                        a(href='/movies/'+val.id) #{val.title}  

            p Reccomended Movies: 
                each val in user.viewRecMovies 
                    ul  
                        a(href = '/movies/'+val.id) #{val.title}

            p Notififications: 
                each val in user.userNotifications.userNot 
                    ul= val
            p Reviews: 
                each val in user.userReviews.uReviews 
                    ul= val  
            
            
            



        